<html>
  <head>
    <title>Home | Chitter</title>
  </head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <form action="/peep" method="get">
      <input type="submit" value="Click here to post a peep">
    </form>
    
    <h2>What's peeping?</h2>
    <% @sorted_peeps.each do |peep| %>
      <div>
        <h3> 
          <%= @user_repo.find(peep.user_id).name %> 
          @<%= @user_repo.find(peep.user_id).username %>
           peeped:
        </h3>
        <p>
          <%= peep.content %><br>
          <%= peep.time %>
        </p>
      </div>
    <% end %>
  </body>
</html>