<html>
  <head>
    <title>Post a peep | Chitter</title>
  </head>
  <body>
    <h1>Post a new peep</h1>
    <form action="/peep" method="POST">
      <div>
        <label>What's peeping?</label> 
        <input type="text" name="content"> <br>
        <label>User ID</label> 
        <input type="number" name="user_id">
      </div>

      <input type="submit" value="Post your peep!">
    </form>
  </body>
</html>