<html>
  <head>
    <title>Peep posted! | Chitter</title>
  </head>
  <body>
    <h2>You just posted a peep!</h2>
    <form action="/" method="get">
      <input type="submit" value="View all peeps">
    </form>
  </body>
</html>