<html>
  <head>
    <title>Sign-up success! | Chitter</title>
  </head>
  <body>
    <h2>Account created successfully!</h2>
    <form action="/" method="get">
      <input type="submit" value="View all peeps">
    </form>
  </body>
</html>